<!-- https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#page-router-outlet -->
<ActionBar title="ActionBar from App Comp" class="action-bar"></ActionBar>

<page-router-outlet></page-router-outlet>
