.login-page {
    background-image: url("~/assets/login-bg.jpg");
    background-size:cover;
    background-repeat: no-repeat;    
}
.login-page .btnlogin {
    border-width: 50px;
    border-color: blueviolet;
    font-size: 30px;
    color: #fff;
  }
  