<ActionBar title="My Login Page" class="action-bar"></ActionBar>

<StackLayout class="login-page" orientation="vertical">

    <TextField hint="Email Address" keyboardType="email" autocorrect="false" autocapitalizationType="none"></TextField>
    <TextField hint="Password" secure="true"></TextField>

    <Button class="btnlogin" text="Login" [nsRouterLink]="['/items']"></Button>   

</StackLayout>